.statistics {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  border: 1px solid black;
}
.title {
  color: gray;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
}
.statList {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 4);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  outline: 0.5px solid gray;
}
.label {
  color: white;
  margin-bottom: 6px;
}
.percentage {
  color: white;
  font-size: 18px;
}
